<div class="row" [formGroup]="formGroup">
  <div class="col-6">
    <mat-form-field class="w-100">
      <input
        matInput
        type="text"
        placeholder="Busqueda old school"
        formControlName="filtrajeOldSchool"
      />
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="col-6">
    <mat-form-field class="w-100">
      <input
        matInput
        type="text"
        placeholder="Busqueda reactiva"
        formControlName="filtrajeAsincrono"
      />
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
  </div>
</div>
